service cloud.firestore {
  match /databases/{database}/documents {

    match /rolls/{document=**} {
    	allow read;
    }

    match /users/{userId} {
      allow write: if isOwner(userId) && hasEmailVerified();
      allow read: if isOwner(userId);
    }

    function isOwner(userId) {
        return request.auth.uid == userId
    }

    function hasEmailVerified() {
    	return request.auth.token.email_verified;
    }
  }
}
