@import "../../../../mixins";

div {
    padding-left: 1rem;

    app-chat {
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include mediaQuery(768px, min) {
        margin-top: 80px;
      }
    }

    app-set-bets {
        width: 32%;

      @include mediaQuery(576px, max) {
        margin-top: 0.5rem;
        width: 100%;
      }
    }
}
