<div class="w-100">
  <div class="m-auto pt-3 login-container">
    <h3>Register</h3>
    <form class="mb-2">
      <div class="form-group">
        <label for="registerMail">Email address</label>
        <input type="email" class="form-control" name="loginMail" id="registerMail" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" class="form-control" name="loginPassword" id="registerPassword" placeholder="Password">
        <input type="password" class="form-control mt-2" name="loginPassword" id="registerPasswordRepeat" placeholder="Repeat Password">
      </div>
      <button type="submit" class="btn btn-secondary">Register</button>
    </form>
  </div>
</div>
