<div class="border rounded p-1">
    <h4 class="text-center">Chat</h4>
        <cdk-virtual-scroll-viewport itemSize="20" (scrolledIndexChange)="scrolled()">
            <div *cdkVirtualFor="let message of messages$;">
                <div style="height: 20px">{{message.message}}</div>
            </div>
        </cdk-virtual-scroll-viewport>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Message" [(ngModel)]="currentlyTyped" [disabled]="!(authService.user$ | async)">
        <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="!(authService.user$ | async) || currentlyTyped.length === 0" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
