<div class="border rounded p-1">
    <h4 class="text-center">Chat</h4>
    <div class="chat-container" #scrollElement (scroll)="scrolled()">
        <div *ngFor="let message of messages">
            <div class="message d-flex" [ngClass]="{'sent-by-logged-in': message.wasSentByLoggedInUser}">
                <div class="align-self-end bg-secondary-lighten user-img-container" [ngClass]="{'rounded-right': message.wasSentByLoggedInUser,
                                                                                        'rounded-left': !message.wasSentByLoggedInUser}">
                    <img class="userImg rounded-circle" [src]="message.userDetails.photoURL" alt="profile-picture">
                </div>
                <div class="mb-0 bg-secondary-lighten rounded-top p-2 pb-3 message-text-container" [ngClass]="{'rounded-left': message.wasSentByLoggedInUser,
                                                                                                       'rounded-right': !message.wasSentByLoggedInUser,
                                                                                                       'text-right': message.wasSentByLoggedInUser}">
                    <span>{{message.message}}</span>
                    <p class="mb-0 small" [ngClass]="{'text-left move-time-left': message.wasSentByLoggedInUser}">{{getTimeForTimestamp(message.timestamp)}}</p>
                </div>
            </div>
            <p class="mb-1 small" [ngClass]="{'sent-by-logged-in-name': message.wasSentByLoggedInUser}">{{message.userDetails.displayName}}</p>
        </div>
    </div>
    <form [formGroup]="chatForm" class="input-group">
        <input type="text" class="form-control" name="chatMessage" formControlName="chatMessage" (keydown)="checkEnter($event)" placeholder="Your Message"  [disabled]="!(authService.user$ | async)">
        <div class="input-group-append">
            <button class="btn btn-primary" (keydown)="checkEnter($event)" [disabled]="!(authService.user$ | async) || chatForm.invalid" (click)="sendMessage()">Send</button>
        </div>
        <div *ngIf="chatForm.controls.chatMessage.errors && chatForm.controls.chatMessage.errors.maxlength" class="invalid-feedback d-block">
            Message is too long!
        </div>
    </form>
</div>
