@import "../../../../mixins";

div {
  .chat-container {
    height: 300px;
    width: 100%;
    overflow: auto;
    @include scrollbar(12px);

    .sent-by-logged-in {
      flex-direction: row-reverse;
      margin-right: .3rem;
    }

    .sent-by-logged-in-name {
      text-align: end;
      right: 6px;
      position: relative;
    }

    .message {
      min-height: 30px;
      max-width: 100%;
      overflow: hidden;

      .bg-secondary-lighten {
        background-color: lighten(#6c757d, 35);
      }

      .user-img-container {
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;

        img {
          width: 85%;
          height: 85%;
          align-self: center;
        }
      }

      .message-text-container {
        min-width: 30%;
        max-width: calc(100% - 45px);
        overflow: hidden;
        position: relative;

        .move-time-left {
            left: 5px;
        }

        p {
          width: 80px;
          position: absolute;
          right: 5px;
          bottom: 0;
          text-align: right;
        }
      }
    }
  }

}
