.history-container {
  height: 80px;
  align-items: center;

  .bg-dark-fix {
    background-color: #343a40
  }

  .history-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
  }
}
