<div class="border rounded p-1" [ngSwitch]="type">
  <h4 class="text-center" *ngSwitchCase="'1-7'" >{{ ((userBets | async)?.redAmount | number:'1.0-2') || 0}}</h4>
  <h4 class="text-center" *ngSwitchCase="'0'" >{{ ((userBets | async)?.greenAmount | number:'1.0-2') || 0}}</h4>
  <h4 class="text-center" *ngSwitchCase="'8-14'" >{{ ((userBets | async)?.blackAmount | number:'1.0-2') || 0}}</h4>
  <button (click)="placeBet('redAmount')" *ngSwitchCase="'1-7'" type="button" class="btn btn-danger btn-lg btn-block" [disabled]="!(authService.user$ | async) || rouletteService.timeToNextRollValue < 3">1 - 7</button>
  <button (click)="placeBet('greenAmount')" *ngSwitchCase="'0'" type="button" class="btn btn-success btn-lg btn-block" [disabled]="!(authService.user$ | async) || rouletteService.timeToNextRollValue < 3">0</button>
  <button (click)="placeBet('blackAmount')" *ngSwitchCase="'8-14'" type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!(authService.user$ | async) || rouletteService.timeToNextRollValue < 3">8 - 14</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bet of allBets | async">
      <td><img class="userImg rounded-circle" [src]="bet.user.photoURL" alt="profile-picture"> {{bet.user.displayName}}</td>
      <td>{{bet[typeKey] | number:'1.0-2'}}</td>
    </tr>
    </tbody>
  </table>
</div>
