<div class="w-100">
  <div class="m-auto pt-3 login-container">
    <h3>Login</h3>
    <form [formGroup]="loginFrom" class="mb-4" (submit)="loginEmailClicked()">
      <div class="form-group">
        <label for="loginMail">Email address</label>
        <input type="email" class="form-control" name="loginMail" id="loginMail" placeholder="Enter email" autocomplete="username" formControlName="loginMail" [ngClass]="{'is-invalid': hasSubmitted && loginFrom.controls.loginMail.errors}">
        <div *ngIf="hasSubmitted && loginFrom.controls.loginMail.errors" class="invalid-feedback d-block">
          <span *ngIf="loginFrom.controls.loginMail.errors.required">Email is required</span>
          <span *ngIf="loginFrom.controls.loginMail.errors.email || loginFrom.controls.loginMail.errors.notFound">Email is unknown</span>
        </div>
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Password" autocomplete="current-password" formControlName="loginPassword" [ngClass]="{'is-invalid': hasSubmitted && loginFrom.controls.loginPassword.errors}">
        <div *ngIf="hasSubmitted && loginFrom.controls.loginPassword.errors" class="invalid-feedback d-block">
          <span *ngIf="loginFrom.controls.loginPassword.errors.required">Password is required</span>
          <span *ngIf="loginFrom.controls.loginPassword.errors.minlength || loginFrom.controls.loginPassword.errors.invalidPassword">Wrong Password</span>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    <h4>Or sign in with one of these services</h4>
    <div class="login-with-container p-2 bg-light d-flex align-items-center mb-2" (click)="loginClicked('Google')">
      <img src="assets/google-login.svg">
      <h4 class="mb-0 ml-4">Google</h4>
    </div>
    <div class="login-with-container p-2 bg-light d-flex align-items-center mb-2" (click)="loginClicked('Facebook')">
      <img src="assets/facebook-login.svg">
      <h4 class="mb-0 ml-4">Facebook</h4>
    </div>
    <div class="login-with-container p-2 bg-light d-flex align-items-center mb-2" (click)="loginClicked('Twitter')">
      <img src="assets/twitter-login.svg">
      <h4 class="mb-0 ml-4">Twitter</h4>
    </div>

    <h5 class="mt-3">Click <a routerLink="/login/register">here</a> to register with E-Mail / Password</h5>
  </div>
</div>
