<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">{{projectName}}</a>

    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/roulette">Roulette</a>
      </li>
    </ul>

    <ul class="navbar-nav w-100 justify-content-end">
      <li class="nav-item">

        <div *ngIf="authService.user$ | async; then loggedIn else notLoggedIn;"></div>

        <ng-template #notLoggedIn>
          <a class="googleLoginLink" (click)="loginClicked('Google')">
            <img class="userImg" src="/assets/google-login.svg" alt="google-icon">
          </a>
          <a class="googleLoginLink ml-2" (click)="loginClicked('Facebook')">
            <img class="userImg" src="/assets/facebook-login.svg" alt="google-icon">
          </a>
        </ng-template>

        <ng-template #loggedIn>
          <div *ngIf="authService.user$ | async as user" class="user-bar d-flex" routerLinkActive="active" routerLink="/user-dashboard">
            <a class="nav-link">{{user.displayName}}</a>
            <img class="userImg rounded-circle" [src]="user.photoURL" alt="profile-picture">
          </div>
        </ng-template>
      </li>
    </ul>
</nav>
